@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: green
}

.navbar {
  border-style: dashed;
  border-color: blue;
  background-color: blue;

}

.item_detail_dropdowns {
  padding: 20px;
  border-style: solid;
  border-color: red;
  margin-top: 10px;
}

.item_details {
  border-color: red;
  border-style: solid;

}
